In [1]:
#se debe instalar ipyleaflet, mpu, openpyxl

import ipyleaflet
import mpu
import pandas as pd
import numpy as np
from ipyleaflet import Map, basemaps, Marker, AwesomeIcon, Icon

## Funciones

In [30]:
def distancia(lat1, long1, lat2, long2):
    return mpu.haversine_distance((lat1, long1), (lat2, long2))

def marca_propiedad(lat, long, quantile):
    if quantile == 0:
        icono_prop = icon0
    elif quantile == 1:
        icono_prop = icon1
    elif quantile == 2:
        icono_prop = icon2  
    else: 
        icono_prop = icon3
    marker = Marker(location=(lat,long), draggable=False, icon=icono_prop)
    basic_map.add_layer(marker)
    
def limpieza_superficie(sup_total, sup_cubierta):
    if sup_total is not None and sup_cubierta is not None:
            if sup_total >= sup_cubierta:
                superficie = sup_total
            else: 
                superficie = 0
    elif sup_total is not None:
            superficie = sup_total
    elif sup_cubierta is not None:
            superficie = sup_cubierta
    else: superficie = 0        
                    
    return superficie

## Íconos y mapas a usar luego

In [35]:
basic_map = Map(basemap=basemaps.OpenStreetMap.Mapnik, center=(-34.60823238941058, -58.398160858739075), zoom=14)

icono_subte = Icon(icon_url='icono_subte.png', icon_size=[28, 28])

icon0 = AwesomeIcon(
    name='home',
    marker_color='green',
    icon_color='black',
    spin=False
)

icon1 = AwesomeIcon(
    name='home',
    marker_color='beige',
    icon_color='black',
    spin=False
)

icon2 = AwesomeIcon(
    name='home',
    marker_color='orange',
    icon_color='black',
    spin=False
)

icon3 = AwesomeIcon(
    name='home',
    marker_color='red',
    icon_color='black',
    spin=False
)

## Estaciones a usar luego

In [3]:
#Arma el Diccionario de Estaciones Linea A
estaciones = [
        {
    'id' : 1,
    'nombre' : 'Plaza de Mayo',
    'latitud' : -34.608861, 
    'longitud' : -58.370833
    },
     {
    'id' : 2,
    'nombre' : 'Peru',
    'latitud' : -34.608347, 
    'longitud' : -58.3743504
    },
    {
    'id' : 3,
    'nombre' : 'Piedras',
    'latitud' : -34.608910, 
    'longitud' : -58.379116
    },
    {
    'id' : 4,
    'nombre' : 'Lima',
    'latitud' : -34.609275,
    'longitud' : -58.398412
    },
    {
    'id' : 5,
    'nombre' : 'Saenz Peña',
    'latitud' : -34.609180, 
    'longitud' : -58.386689
    },
    {
    'id' : 6,
    'nombre' : 'Congreso',
    'latitud' : -34.6090035, 
    'longitud' : -58.3926656
    },
    {
    'id' : 7,
    'nombre' : 'Pasco',
    'latitud' : -34.6093037,
    'longitud' : -58.398373
    },
    {
    'id' : 9,
    'nombre' : 'Plaza Miserere',
    'latitud' : -34.6087386,
    'longitud' : -58.4060766
    },
    {
    'id' : 10,
    'nombre' : 'Loria',
    'latitud' : -34.61058413682195,
    'longitud' : -58.415110361671246
    },
    {
    'id' : 11,
    'nombre' : 'Castro Barros',
    'latitud' : -34.61156427984651,
    'longitud' : -58.42174078220552
    },
    {
    'id' : 12,
    'nombre' : 'Rio de Janeiro',
    'latitud' : -34.6148813,
    'longitud' : -58.429314
    },
    {
    'id' : 13,
    'nombre' : 'Acoyte',
    'latitud' : -34.61782024597432, 
    'longitud' : -58.43601375834526
    },
    {
    'id' : 14,
    'nombre' : 'Primera Junta',
    'latitud' : -34.62000990821901, 
    'longitud' : -58.44139963363867
    },
    {
    'id' : 15,
    'nombre' : 'Puan',
    'latitud' : -34.623154005164174, 
    'longitud' : -58.448759837614276
    },
    {
    'id' : 16,
    'nombre' : 'Carabobo',
    'latitud' : -34.625959668892456, 
    'longitud' : -58.45602636136459
    },
    {
    'id' : 17,
    'nombre' : 'San Jose de Flores',
    'latitud' : -34.62853728879571, 
    'longitud' : -58.46356990763762
    },
    {
    'id' : 18,
    'nombre' : 'San Pedrito',
    'latitud' : -34.63041902824775,
    'longitud' : -58.470443585877774
    },
]

## Lectura del dataset Original de Properati

In [4]:
df_properati = pd.read_csv('properati.csv')

## Genera df solo para Capital

In [5]:
df_capital = df_properati[df_properati["state_name"] == "Capital Federal"]
df_capital.shape

(32316, 26)

In [6]:
Barrios = df_capital["place_name"].value_counts()

## Corrige ortografia de Barrios y mapea Barrios Inexistentes

In [7]:
%%capture output
df_capital["place_name"].replace(['San Cristobal','Barrio Norte', 'Centro / Microcentro'], ['San Cristóbal','Recoleta', 'Monserrat'], inplace=True)

In [8]:
barrios_conv = df_capital["place_name"].value_counts()

## Lee el archivo de Mapping de Barrios por Comuna

In [41]:
df_barrios_comuna = pd.read_csv("Barrios_x_Comuna_vsc_utf8.csv")

## Merge de df de Barrios de Capital con Comunas

In [10]:
df_capital_comuna = pd.merge(df_capital, df_barrios_comuna, how='left', left_on='place_name', right_on='Barrio')
del df_capital_comuna["description"]
del df_capital_comuna["title"]
del df_capital_comuna["properati_url"]
del df_capital_comuna["image_thumbnail"]

In [11]:
df_capital_comuna["Comuna"].isna().sum()

3612

## Enumera los Barrrios por los que atraviesa la Linea A

In [12]:
barrios_linea_a = pd.Series(['Monserrat', 'Balvanera', 'Almagro', 'Caballito'])
barrios_linea_a

0    Monserrat
1    Balvanera
2      Almagro
3    Caballito
dtype: object

## Filtra el df de Capital por los Barrios definidos

In [13]:
df_capital_barrios_subte = df_capital_comuna[df_capital_comuna['Barrio'].isin(barrios_linea_a)]
df_capital_barrios_subte.shape

(4866, 24)

## Elimina los Registros sin lat-long

In [14]:
df_latlon_notna = df_capital_barrios_subte[df_capital_barrios_subte['lat-lon'].notna()]

In [15]:
df_latlon_notna.shape

(4031, 24)

## Calcula las distancias de cada Propiedad hasta las 17 estaciones

In [16]:
estacion_01_lat = -34.608861
estacion_01_lon = -58.370833

estacion_03_lat = -34.608910
estacion_03_lon = -58.379116

estacion_07_lat = -34.609275
estacion_07_lon = -58.398412


df_latlon_notna['distancia_01'] = df_latlon_notna[['lat','lon']].apply(lambda df_latlon_notna: distancia(df_latlon_notna['lat'],df_latlon_notna['lon'],estaciones[1]_01_lat,estacion_01_lon),axis=1)
df_latlon_notna['distancia_03'] = df_latlon_notna[['lat','lon']].apply(lambda df_latlon_notna: distancia(df_latlon_notna['lat'],df_latlon_notna['lon'],estacion_03_lat,estacion_03_lon),axis=1)
df_latlon_notna['distancia_07'] = df_latlon_notna[['lat','lon']].apply(lambda df_latlon_notna: distancia(df_latlon_notna['lat'],df_latlon_notna['lon'],estacion_07_lat,estacion_07_lon),axis=1)

C:\ProgramData\Anaconda3\envs\dhdsblend\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\ProgramData\Anaconda3\envs\dhdsblend\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\ProgramData\Anaconda3\envs\dhdsblend\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [17]:
df_latlon_notna.head(3)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,price_usd_per_m2,price_per_m2,floor,rooms,expenses,Barrio,Comuna,distancia_01,distancia_03,distancia_07
14,48,sell,apartment,Balvanera,|Argentina|Capital Federal|Balvanera|,Argentina,Capital Federal,6693228.0,"-34.6096748,-58.3986588",-34.609675,...,1702.12766,1935.483871,NaN,5.0,NaN,Balvanera,Comuna-3,2.548179,1.790545,0.049865
16,52,sell,apartment,Caballito,|Argentina|Capital Federal|Caballito|,Argentina,Capital Federal,3435874.0,"-34.6222111,-58.4391283",-34.622211,...,2200.00000,2200.000000,NaN,3.0,NaN,Caballito,Comuna-6,6.423680,5.687485,3.994014
17,53,sell,apartment,Caballito,|Argentina|Capital Federal|Caballito|,Argentina,Capital Federal,3435874.0,"-34.6238943143,-58.4468606529",-34.623894,...,1705.00000,3706.521739,NaN,2.0,NaN,Caballito,Comuna-6,7.155333,6.419351,4.722174

In [18]:
df_latlon_notna.shape

(4031, 27)

In [19]:
df_latlon_notna.loc["superficie"] = df_latlon_notna[['surface_total_in_m2','surface_covered_in_m2']].apply(lambda df_latlon_notna: limpieza_superficie(df_latlon_notna['surface_total_in_m2'],df_latlon_notna['surface_covered_in_m2']),axis=1)
df_latlon_notna.head(4)

C:\ProgramData\Anaconda3\envs\dhdsblend\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,price_usd_per_m2,price_per_m2,floor,rooms,expenses,Barrio,Comuna,distancia_01,distancia_03,distancia_07
14,48.0,sell,apartment,Balvanera,|Argentina|Capital Federal|Balvanera|,Argentina,Capital Federal,6693228.0,"-34.6096748,-58.3986588",-34.609675,...,1702.127660,1935.483871,NaN,5.0,NaN,Balvanera,Comuna-3,2.548179,1.790545,0.049865
16,52.0,sell,apartment,Caballito,|Argentina|Capital Federal|Caballito|,Argentina,Capital Federal,3435874.0,"-34.6222111,-58.4391283",-34.622211,...,2200.000000,2200.000000,NaN,3.0,NaN,Caballito,Comuna-6,6.423680,5.687485,3.994014
17,53.0,sell,apartment,Caballito,|Argentina|Capital Federal|Caballito|,Argentina,Capital Federal,3435874.0,"-34.6238943143,-58.4468606529",-34.623894,...,1705.000000,3706.521739,NaN,2.0,NaN,Caballito,Comuna-6,7.155333,6.419351,4.722174
18,54.0,sell,apartment,Caballito,|Argentina|Capital Federal|Caballito|,Argentina,Capital Federal,3435874.0,"-34.6209278,-58.4458736",-34.620928,...,2721.111111,2938.800000,NaN,3.0,NaN,Caballito,Comuna-6,6.996984,6.253577,4.532461

In [20]:
df_latlon_notna.to_csv("output_superficie.csv", index=False)

In [21]:
df_price_notna = df_latlon_notna[df_latlon_notna['price_usd_per_m2'].notna()]

In [25]:
df_randomizado = df_price_notna.sample(n=150, random_state = 100)
df_randomizado.head(10)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,price_usd_per_m2,price_per_m2,floor,rooms,expenses,Barrio,Comuna,distancia_01,distancia_03,distancia_07
9331,36566.0,sell,apartment,Balvanera,|Argentina|Capital Federal|Balvanera|,Argentina,Capital Federal,6693228.0,"-34.6051224,-58.4046096",-34.605122,...,1988.888889,1988.888889,NaN,2.0,NaN,Balvanera,Comuna-3,3.119092,2.370903,0.731394
28856,110461.0,sell,apartment,Almagro,|Argentina|Capital Federal|Almagro|,Argentina,Capital Federal,3436397.0,"-34.6110583,-58.4201892",-34.611058,...,2111.111111,2467.532468,NaN,4.0,NaN,Almagro,Comuna-5,4.523565,3.766503,2.002833
29180,111497.0,sell,apartment,Almagro,|Argentina|Capital Federal|Almagro|,Argentina,Capital Federal,3436397.0,"-34.6110268,-58.424513",-34.611027,...,1566.666667,2088.888889,NaN,3.0,NaN,Almagro,Comuna-5,4.918566,4.161287,2.396625
5851,24942.0,sell,apartment,Caballito,|Argentina|Capital Federal|Caballito|,Argentina,Capital Federal,3435874.0,"-34.6113092,-58.4381058",-34.611309,...,1684.210526,1882.352941,NaN,5.0,NaN,Caballito,Comuna-6,6.162652,5.405183,3.639702
14770,56081.0,sell,apartment,Balvanera,|Argentina|Capital Federal|Balvanera|,Argentina,Capital Federal,6693228.0,"-34.609032,-58.403378",-34.609032,...,1714.285714,1714.285714,4.0,3.0,2000.0,Balvanera,Comuna-3,2.978538,2.220468,0.455283
13120,49742.0,sell,apartment,Balvanera,|Argentina|Capital Federal|Balvanera|,Argentina,Capital Federal,6693228.0,"-34.6133124313,-58.4052081146",-34.613312,...,2304.347826,2523.809524,5.0,2.0,1700.0,Balvanera,Comuna-3,3.184588,2.437517,0.767057
18778,71765.0,sell,apartment,Caballito,|Argentina|Capital Federal|Caballito|,Argentina,Capital Federal,3435874.0,"-34.6060340291,-58.452885322",-34.606034,...,2836.170213,3332.500000,NaN,NaN,NaN,Caballito,Comuna-6,7.516036,6.758964,4.998415
4524,19659.0,sell,apartment,Almagro,|Argentina|Capital Federal|Almagro|,Argentina,Capital Federal,3436397.0,"-34.6032835,-58.4328461",-34.603284,...,2741.935484,3000.000000,NaN,4.0,3100.0,Almagro,Comuna-5,5.709341,4.957119,3.221117
2722,12321.0,sell,apartment,Almagro,|Argentina|Capital Federal|Almagro|,Argentina,Capital Federal,3436397.0,"-34.6051042,-58.4129088",-34.605104,...,1753.246753,1875.000000,NaN,3.0,2300.0,Almagro,Comuna-5,3.873407,3.121565,1.405478
5269,22759.0,sell,apartment,Balvanera,|Argentina|Capital Federal|Balvanera|,Argentina,Capital Federal,6693228.0,"-34.602203,-58.3985049",-34.602203,...,1594.594595,1735.294118,NaN,3.0,NaN,Balvanera,Comuna-3,2.638592,1.924868,0.786416

In [38]:
df_randomizado['quantile'] = pd.qcut(df_randomizado['price_usd_per_m2'], 4, labels=False)
df_quantile = df_randomizado[['lat','lon','quantile']].apply(lambda df_quantile: marca_propiedad(df_quantile['lat'],df_quantile['lon'],df_quantile['quantile']),axis=1)

## Elimina los registros que no tengan el precio del m2 calculado

In [39]:
df_quantile

9331     None
28856    None
29180    None
5851     None
14770    None
         ...
14115    None
2748     None
9240     None
29062    None
25895    None
Length: 150, dtype: object

In [75]:
## basic_map = Map(basemap=basemaps.Esri.DeLorme, center=(4.6097, -74.08), zoom=6)

for estacion in estaciones:
    marker = Marker(location=(estacion['latitud'],estacion['longitud']), draggable=False, icon=icono_subte)
    basic_map.add_layer(marker);
    
# comb4.apply(marca_propiedad(), axis=1)
df_quantile[['lat','lon','quantile']].apply(lambda df_quantile: marca_propiedad(df_quantile['lat'],df_quantile['lon'],df_quantile['quantile']),axis=1)
    

display(basic_map)

Map(center=[-34.60823238941058, -58.398160858739075], controls=(ZoomControl(options=['position', 'zoom_in_text…

In [76]:
type(df_quantile['price_usd_per_m2'][14])

numpy.float64

In [77]:
df_quantile.to_csv("output.csv", index=False)

In [78]:
series_nulos_long = df_capital['lon'].isna()
series_nulos_long.value_counts()

False    23770
True      8546
Name: lon, dtype: int64