In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
data = pd.read_csv("../primer proyecto/properati.csv")
#data.head()

In [3]:
nulos = data.isnull().sum()
#nulos

In [4]:
nulos_porcentaje = nulos / data.shape[0] * 100
#arg.round(0)

In [5]:
#mascara_ba = data.isin({'state_name':['Capital Federal', 'Bs.As. G.B.A. Zona Sur', 'Bs.As. G.B.A. Zona Norte', 'Bs.As. G.B.A. Zona Oeste', 'Buenos Aires Costa Atlántica', 'Buenos Aires Interior']})
#data_ba = data[mascara_ba['state_name']]
#data_ba.state_name.value_counts()

In [6]:
nulos_porcentaje

Unnamed: 0                     0.000000
operation                      0.000000
property_type                  0.000000
place_name                     0.018974
place_with_parent_names        0.000000
country_name                   0.000000
state_name                     0.000000
geonames_id                   15.440521
lat-lon                       42.525986
lat                           42.525986
lon                           42.525986
price                         16.837156
currency                      16.837981
price_aprox_local_currency    16.837156
price_aprox_usd               16.837156
surface_total_in_m2           32.443491
surface_covered_in_m2         16.422208
price_usd_per_m2              43.394654
price_per_m2                  27.686850
floor                         93.483749
rooms                         60.905791
expenses                      88.234615
properati_url                  0.000000
description                    0.001650
title                          0.000000
image_thumbnail                2.567233
dtype: float64

In [7]:
separar_zona = data["place_with_parent_names"].str.split('|', expand = True)
#separar_zona.head()

In [8]:
separar_zona.columns = ['??', 'Pais', 'Zona', 'Partido', 'Barrios', 'Country', 'Otra']
data_concat = pd.concat([data, separar_zona], axis=1)
data_concat.head(10)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,description,title,image_thumbnail,??,Pais,Zona,Partido,Barrios,Country,Otra
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...,,Argentina,Capital Federal,Mataderos,,None,None
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...,,Argentina,Bs.As. G.B.A. Zona Sur,La Plata,,None,None
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...,,Argentina,Capital Federal,Mataderos,,None,None
3,3,sell,PH,Liniers,|Argentina|Capital Federal|Liniers|,Argentina,Capital Federal,3431333.0,"-34.6477969,-58.5164244",-34.647797,...,PH 3 ambientes con patio. Hay 3 deptos en lote...,PH 3 amb. cfte. reciclado,https://thumbs4.properati.com/3/DgIfX-85Mog5SP...,,Argentina,Capital Federal,Liniers,,None,None
4,4,sell,apartment,Centro,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3435548.0,"-38.0026256,-57.5494468",-38.002626,...,DEPARTAMENTO CON FANTÁSTICA ILUMINACIÓN NATURA...,DEPTO 2 AMB AL CONTRAFRENTE ZONA CENTRO/PLAZA ...,https://thumbs4.properati.com/5/xrRqlNcSI_vs-f...,,Argentina,Buenos Aires Costa Atlántica,Mar del Plata,Centro,,None
5,5,sell,house,Gualeguaychú,|Argentina|Entre Ríos|Gualeguaychú|,Argentina,Entre Ríos,3433657.0,"-33.0140714,-58.519828",-33.014071,...,"Casa en el perímetro del barrio 338, ubicada e...","Casa Barrio 338. Sobre calle 3 de caballería, ...",https://thumbs4.properati.com/6/q-w68gvaUEQVXI...,,Argentina,Entre Ríos,Gualeguaychú,,None,None
6,6,sell,PH,Munro,|Argentina|Bs.As. G.B.A. Zona Norte|Vicente Ló...,Argentina,Bs.As. G.B.A. Zona Norte,3430511.0,"-34.5329567,-58.5217825",-34.532957,...,MUY BUEN PH AL FRENTE CON ENTRADA INDEPENDIENT...,"MUY BUEN PH AL FRENTE DOS DORMITORIOS , PATIO,...",https://thumbs4.properati.com/5/6GOXsHCyDu1aGx...,,Argentina,Bs.As. G.B.A. Zona Norte,Vicente López,Munro,,None
7,7,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,3436077.0,"-34.5598729,-58.443362",-34.559873,...,EXCELENTE MONOAMBIENTE A ESTRENAR AMPLIO SUPER...,JOSE HERNANDEZ 1400 MONOAMBIENTE ESTRENAR CAT...,https://thumbs4.properati.com/1/IHxARynlr8sPEW...,,Argentina,Capital Federal,Belgrano,,None,None
8,8,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,3436077.0,"-34.5598729,-58.443362",-34.559873,...,EXCELENTE DOS AMBIENTES ESTRENAR AMPLIO SUPER...,"JOSE HERNANDEZ 1400 DOS AMBIENTES ESTRENAR ,...",https://thumbs4.properati.com/2/J3zOjgaFHrkvnv...,,Argentina,Capital Federal,Belgrano,,None,None
9,9,sell,house,Rosario,|Argentina|Santa Fe|Rosario|,Argentina,Santa Fe,3838574.0,"-32.942031,-60.7259192",-32.942031,...,MEDNOZA AL 7600A UNA CUADRA DE CALLE MENDOZAWH...,WHITE 7637 - 2 DORMITORIOS CON PATIO,https://thumbs4.properati.com/8/RCf1YEWdF4rv98...,,Argentina,Santa Fe,Rosario,,None,None

In [9]:
# La siguiente función nos permite limpiar la superficie según las inconsistencias entre la total y la cubierta.
# Se eligio dicha columna con respecto a 'surface_total_in_m2' ya que tenía menor cantidad de registros nulos

#def limpieza_superficie(sup_total, sup_cubierta):
#    if sup_total is not None and sup_cubierta is not None:
#            if sup_total >= sup_cubierta:
#                superficie = sup_total
#            else: 
#                superficie = np.NaN
#    elif sup_total is not None:
#            superficie = sup_total
#    elif sup_cubierta is not None:
#            superficie = sup_cubierta
#    else: superficie = np.NaN
#                    
#    return superficie

In [10]:
#data_concat["superficie"] = data_concat.apply(lambda x: limpieza_superficie(x['surface_total_in_m2'],x['surface_covered_in_m2']),axis=1)
#data_concat

In [11]:
#data_concat.shape

In [12]:
patron_amb = "(?P<ambiente>\d\s)((A|a)(M|m)(B|b))"
regex_amb = re.compile(patron_amb)

data_amb_serie = data_concat["description"]
data_amb_match = data_amb_serie.apply(lambda x: x if x is np.NaN else regex_amb.search(x))

mask_amb_notnull = data_amb_match.notnull()

data_ambientes = data_amb_match[mask_amb_notnull].apply(lambda x: x.group("ambiente"))

data_concat.loc[mask_amb_notnull, 'ambientes_desc'] = \
    data_amb_match[mask_amb_notnull].apply(lambda x: x.group('ambiente'))

In [13]:
data_concat.loc[mask_amb_notnull, ["description", "ambientes_desc"]]

                                              description ambientes_desc
0       2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...             2
2       2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...             2
3       PH 3 ambientes con patio. Hay 3 deptos en lote...             3
11      Entrada de Coche, Jardin, Living en desnivel, ...             1
12      EXCELENTE DEPARTAMENTO 2 AMBIENTES CONTRAFRENT...             2
...                                                   ...            ...
121127  Amplio departamento de 2 Amb. con vestidor y t...             2
121131  Excelente semipiso al frente de 4 ambientes. E...             4
121138  VENTA CON RENTA DEPARTAMENTO DE 2 AMBIENTES A ...             2
121139  Condominio Royal Residence, espectacular empre...             3
121218  2 Amb al contrafrente,  luminoso. El departame...             2

[37540 rows x 2 columns]

In [14]:
patron_amb2 = "(?P<ambiente_title>\d\s)((A|a)(M|m)(B|b))"
regex_amb2 = re.compile(patron_amb2)

data_amb_serie2 = data_concat["title"]
data_amb_match2 = data_amb_serie2.apply(lambda x: x if x is np.NaN else regex_amb2.search(x))

mask_amb_notnull2 = data_amb_match2.notnull()

data_ambientes2 = data_amb_match2[mask_amb_notnull2].apply(lambda x: x.group("ambiente_title"))

data_concat.loc[mask_amb_notnull2, 'ambientes_t'] = \
    data_amb_match2[mask_amb_notnull2].apply(lambda x: x.group('ambiente_title'))

In [15]:
data_concat.loc[mask_amb_notnull2, ["ambientes_desc", "ambientes_t"]]

       ambientes_desc ambientes_t
0                  2           2
2                  2           2
3                  3           3
4                 NaN          2
12                 2           2
...               ...         ...
121131             4           3
121138             2           2
121153            NaN          3
121215            NaN          3
121218             2           2

[21092 rows x 2 columns]

In [16]:
def limpieza_amb(ambientes_desc, ambientes_t):
    if pd.isnull(ambientes_desc) and pd.isnull(ambientes_t):
        ambientes = np.NaN
    elif pd.isnull(ambientes_desc):
        ambientes = ambientes_t
    else:
        ambientes = ambientes_desc
    return ambientes

In [17]:
data_concat["ambientes"] = data_concat.apply(lambda data_concat: limpieza_amb(data_concat['ambientes_desc'],data_concat['ambientes_t']),axis=1)
#data_concat.head(15)

In [18]:
data_concat.shape

(121220, 36)

In [19]:
data_concat.columns

Index(['Unnamed: 0', 'operation', 'property_type', 'place_name',
       'place_with_parent_names', 'country_name', 'state_name', 'geonames_id',
       'lat-lon', 'lat', 'lon', 'price', 'currency',
       'price_aprox_local_currency', 'price_aprox_usd', 'surface_total_in_m2',
       'surface_covered_in_m2', 'price_usd_per_m2', 'price_per_m2', 'floor',
       'rooms', 'expenses', 'properati_url', 'description', 'title',
       'image_thumbnail', '??', 'Pais', 'Zona', 'Partido', 'Barrios',
       'Country', 'Otra', 'ambientes_desc', 'ambientes_t', 'ambientes'],
      dtype='object')

In [20]:
data_concat.ambientes.notnull().sum() / data_concat.shape[0] * 100

36.636693614915025

In [21]:
def limpieza_amb2(rooms, ambientes):
    if pd.isnull(rooms) and pd.isnull(ambientes):
        ambientes_train = 0
    elif pd.isnull(rooms):
        ambientes_train = ambientes
    else:
        ambientes_train = int(rooms)
    return int(ambientes_train)

In [22]:
data_concat["ambientes_train"] = data_concat.apply(lambda x: limpieza_amb2(x['rooms'],x['ambientes']),axis=1)

In [23]:
# data_concat.to_csv('data_concat_step_2.csv', columns=['property_type','superficie','rooms','ambientes_desc','ambientes_t','ambientes','ambientes_train','price_per_m2'], sep=';')

In [24]:
# data_concat.ambientes_train.value_counts()

In [25]:
#data_prueba[data_prueba.ambientes_train.astype(int).dtype and data_prueba.rooms.astype(int).dtype]

In [26]:
mask_not_store = data_concat['property_type'] != 'store'

In [27]:
data_concat = data_concat[mask_not_store]

In [28]:
data_concat.shape

(117084, 37)

In [29]:
superficie_not_null = data_concat['surface_covered_in_m2'].notnull()
ambientes_zero = data_concat['ambientes_train'] == 0
filtro = superficie_not_null & ambientes_zero
print(filtro.sum())
#data_concat = data_concat[filtro]
#d_filtrado[['ambientes_train', 'superficie']].head(10)

38365

In [30]:
data_backup = data_concat.copy()

In [31]:
#data_concat = data_backup.copy()

In [32]:
data_not_null = data_concat[data_concat.ambientes_train > 0]

In [33]:
data_not_null.to_csv('data_concat_step_2.csv', columns=['surface_covered_in_m2','ambientes_train','price_per_m2'], sep=';')

In [34]:
q1 = data_not_null.ambientes_train.quantile(0.25)
q2 = data_not_null.ambientes_train.quantile(0.5)
q3 = data_not_null.ambientes_train.quantile(0.75)

higher_bound = q3 + 1.5 * (q3 - q1)
higher_bound

7.0

In [35]:
mask = data_concat.ambientes_train > 7
mask2 = data_concat.loc[mask, :]
data_sin_outliers = data_concat.drop(mask2.index, axis = 0)
data_sin_outliers.ambientes_train.value_counts()

0    48575
3    19524
2    19329
4    12184
1     8493
5     5097
6     1806
7      913
Name: ambientes_train, dtype: int64

In [54]:
amb_1 = data_sin_outliers['ambientes_train'] == 1
amb_2 = data_sin_outliers['ambientes_train'] == 2
amb_3 = data_sin_outliers['ambientes_train'] == 3
amb_4 = data_sin_outliers['ambientes_train'] == 4
amb_5 = data_sin_outliers['ambientes_train'] == 5
amb_6 = data_sin_outliers['ambientes_train'] == 6
amb_7 = data_sin_outliers['ambientes_train'] == 7

divisor1 = (data_sin_outliers[amb_1].surface_covered_in_m2.median() + data_sin_outliers[amb_2].surface_covered_in_m2.median())/2
divisor2 = (data_sin_outliers[amb_2].surface_covered_in_m2.median() + data_sin_outliers[amb_3].surface_covered_in_m2.median())/2
divisor3 = (data_sin_outliers[amb_3].surface_covered_in_m2.median() + data_sin_outliers[amb_4].surface_covered_in_m2.median())/2
divisor4 = (data_sin_outliers[amb_4].surface_covered_in_m2.median() + data_sin_outliers[amb_5].surface_covered_in_m2.median())/2
divisor5 = (data_sin_outliers[amb_5].surface_covered_in_m2.median() + data_sin_outliers[amb_6].surface_covered_in_m2.median())/2
divisor6 = (data_sin_outliers[amb_6].surface_covered_in_m2.median() + data_sin_outliers[amb_7].surface_covered_in_m2.median())/2
divisor7 = (data_sin_outliers[amb_7].surface_covered_in_m2.median() + data_sin_outliers[amb_7].surface_covered_in_m2.max())/2

In [56]:
divisor6

230.5

In [37]:
# Función para asignar ambientes según superficie en registros cuyo valor para cantidad de ambientes es nulo
def asignar_ambientes_segun_superficie(surface_covered_in_m2):
    #if superficie.isnull():
    #    return 0
    #elif 0 < superficie <= divisor1:
    if 0 < surface_covered_in_m2 <= divisor1:
        return 1
    elif divisor1 < surface_covered_in_m2 <= divisor2:
        return 2
    elif divisor2 < surface_covered_in_m2 <= divisor3:
        return 3
    elif divisor3 < surface_covered_in_m2 <= divisor4:
        return 4
    elif divisor4 < surface_covered_in_m2 <= divisor5:
        return 5
    elif divisor5 < surface_covered_in_m2 <= divisor6:
        return 6
    elif divisor6 < surface_covered_in_m2 <= divisor7:
        return 7
    else:
        return np.NaN

In [38]:
data_sin_outliers["ambientes_touched"] = data_sin_outliers.apply(lambda x: asignar_ambientes_segun_superficie(x['surface_covered_in_m2']) if int(x['ambientes_train']) == 0 else 0,axis=1)

In [39]:
data_sin_outliers["ambientes_final"] = data_sin_outliers["ambientes_train"] + data_sin_outliers["ambientes_touched"]

In [40]:
data_sin_outliers.to_csv('data_concat_step_3.csv', columns=['property_type','Partido','surface_covered_in_m2','ambientes_train','ambientes_touched', 'ambientes_final', 'price_per_m2'], sep=';')

In [41]:
data_sin_outliers.ambientes_touched.value_counts()

0.0    67346
2.0     6477
3.0     6134
1.0     5743
4.0     5723
5.0     4950
6.0     1914
Name: ambientes_touched, dtype: int64

In [ ]:
data_concat["Partido"].value_counts()

In [ ]:
# data_concat["ambientes_train"].value_counts()
# data_concat["ambientes_train"].isnull().sum()

In [ ]:
data_concat.ambientes_train.notnull().sum()

In [ ]:
data_concat[data_concat.rooms_final.notnull()]

In [ ]:
data_concat.ambientes_train.value_counts()

In [ ]:
# aplicar funcion lambda para agrupar los int y los float

# pensar tambien que rooms no es lo mismo que ambientes